
/* deep: #31572c
medium: #4f772d
light: #90a955 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    line-height: 1.7;
    padding: 30px;
}

header{
    background-image: linear-gradient(to right, #31572c9f, #50772d94), url('../img/hero.jpg');
    background-size: cover;
    background-position: top;
    height: 95vh;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    position: relative;
    
}

.header-logo{
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo{
    height: 32px;
}

.text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.header-primary{
    text-transform: uppercase;
    backface-visibility: hidden;
}

.header-primary-main{
    display: block;
    font-size: 60px;
    letter-spacing: 35px;
    font-weight: 400;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.header-primary-sub{
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 14px;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }

    80%{
        transform: translateX(10px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }

    80%{
        transform: translateX(-10px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}