$color-deep : #31572c;
$color-medium : #4f772d;
$color-light : #90a955;

$color-white : #fff;
$color-gray-dark : #777;

//GRID
$grid-width : 114rem;
$gutter-horizontal : 8rem;
$gutter-vertical : 4rem;