
.header-primary{
    text-transform: uppercase;
    backface-visibility: hidden;

    &--main{
        display: block;
        font-size: 6rem;
        letter-spacing: 3.5rem;
        font-weight: 400;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        @include respond(phone){
            letter-spacing: 1rem;
            font-size: 5rem;
        }
    }

    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.4rem;
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        margin-bottom: 6rem;

        @include respond(phone){
            letter-spacing: 0.5rem; 
        }
    }
}


.heading-secondary{
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-image: linear-gradient(to right, $color-light, $color-deep);
    -webkit-background-clip: text;
    color: transparent;
    transition: all .2s;

    @include respond(tab-port){
        font-size: 3rem;
    } 

    @include respond(phone){
        font-size: 2.5rem;
    }

    &:hover{ 
        transform: skewY(2deg) skewX(15deg) scale(1.05); 
        text-shadow: 0.5rem 1rem 2rem  (0,0,0,0.2);
    }
}

.heading-tertiary{
    font-size: 1.6rem;
    font-weight: 700;
    color: $color-gray-dark;
    text-transform: uppercase;
}

.paragraph{
    font-size: 1.6rem; 
    color: $color-gray-dark;

    &:not(:last-child){
        margin-bottom: 3rem;
    }
}
